{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}

<div id = "iframe_"> 
  {% if result or free_field %}
    <iframe src = {{ url_for('update_map')}} id = "map"></iframe>
  {% else %}
    <iframe src = {{ url_for('map') }} id = "map"></iframe>
  {% endif %}
</div>

<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h4> Quels éléments recherchez vous dans cette zone ?</h4>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>

  <div class="offcanvas-body">
    <form action="process_demand" method="POST">
      {% for key,value in list_of_choices.items() %}
        <div class = "section_category" id = "{{key}}">
            {% if value.category %}
              <div class = "section_header">
                <input class="form-check-input" type="checkbox" onClick="toggle(this, '{{key}}')" /> <label></label><strong>{{value.name}}</strong> (tous types) 
                <button type="button" class="collapsible"><img srcset="https://img.icons8.com/external-others-inmotus-design/134/external-Down-virtual-keyboard-others-inmotus-design-5.png 2x" alt="Down" loading="lazy" onload="this.setAttribute('lazy', 'loaded')" onerror="this.setAttribute('lazy', 'error')" style="width: 18px; height: 18px;" lazy="loaded">       </button> 
              </div>
              <div class = "content">
              {% for element in value.category %}
                <div class = "section_checkboxes">
                  <label class="form-check">
                    <input class="form-check-input {{key}}" type="checkbox" name = "user_demand" value="{{key}}{{loop.index0}}">
                    <span class="form-check-label">
                      {{element}}
                    </span>
                  </label> 
                </div>
              {% endfor %}
              <div> 
                <span>Vous souvenez-vous du nom d'un des endroits visités? </span>
                <input type="text" class="form-control" aria-label="Default" name = "name_{{key}}" aria-describedby="inputGroup-sizing-default">
                <!-- <input type="text" class="form-control" aria-label="Default" name = "name_{{key}}_1" aria-describedby="inputGroup-sizing-default"> -->
              </div>
            </div>  
            {%else%}
            <div class = "section_header">
              <input class="form-check-input" type="checkbox" name = "user_demand" value="{{key}}">
              <strong>{{value.name}}</strong>
            </div>    

            {% endif %}
        </div>    
      {% endfor %}
      <button type="submit" class="btn btn-primary btn-block btn-large">Trouvez des lieux</button>  
    </form>
  </div>
</div>
<div>
  <a class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
    Filtrer
  </a>
</div>


<!-- 
<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div> -->

<script>
  var coll = document.getElementsByClassName("collapsible");
  var i;
  
  for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var content = document.getElementsByClassName("content");
      console.log(content)
      for (i = 0; i < content.length; i++) {
        if (content[i].style.display === "block") {
          content[i].style.display = "none";
        } else {
          content[i].style.display = "block";
      }}
    });
  }
</script>

<!-- <script>
  var coll = document.getElementsByClassName("collapsible");
  var i;
  
  for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var content = document.getElementsByClassName("content");
      console.log(content)
      if (content.style.display === "block") {
        content.style.display = "none";
      } else {
        content.style.display = "block";
      }
    });
  }
</script> -->

<script language="JavaScript">
  function toggle(source, key) {
  checkboxes = document.getElementsByClassName("form-check-input "+key);
  for(var i=0, n=checkboxes.length;i<n;i++) {
    checkboxes[i].checked = source.checked;
  }
  }
</script>
  

{% endblock %}